{% extends 'base.html' %}
{% block body %}
<h2>Top Selling Melons</h2>

<div id="melon-list">
    {% for melon in melon_list %}
    <div class="melon-summary well">
        <h2><a href="/melon/{{melon.id}}">{{melon.common_name}}</a></h2>
        <a href="/melon/{{melon.id}}">
        <img src="{{melon.imgurl}}">
        </a>
        <h3>{{melon.price_str()}}</h3>
        <a class="btn btn-primary" href="/melon/{{melon.id}}">Details</a>
    </div>
    {% endfor %}
</div>

<div id="cart">
    <div id="cart-target">
        <a href="" id="cart-close">Close</a>
        <div id="cart-contents">
        </div>
    </div>
</div>

<div id="blackout-screen">
    <div id="promotion" class= "jumbotron">
        <h1>Save on Watermelons! All watermelons 50% off! SUPER!</h1>
        <a href="" id="close-promotion">Close this window</a>
    </div>
</div>

<script type="text/javascript">

function hideBlackoutScreen(){
    var h1 = $("div#blackout-screen");
    h1.hide();
    return false
}

function showCartSummary(){
    var cart = $("div#cart")  
    cart.show();
    getCartContents();
    console.log("******************");
    return false

}
function injectCartContents(data){
    var cart = $("div#cart-contents");
    cart.html(data);
    console.log("monkey");
    console.log(data);
}

function hideCartSummary(){
    var cart = $("div#cart");
    cart.hide();
    return false
}

function getCartContents(){
    $.get("/cart_items",injectCartContents);
}

function main(){
    var link = $("a#close-promotion");
    link.click(hideBlackoutScreen)

    var link = $("a#cart_nav");
    link.mouseover(showCartSummary);

    var cartClose = $("a#cart-close")
    cartClose.click(hideCartSummary)
}

$(main);

</script>

{% endblock %}
